<div class="modal-header">
  <h4 class="modal-title"> {{ id != 0 ? 'Actualizar Vacuna' : 'Agregar Vacuna'}} </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    x
  </button>
</div>
<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div *ngIf="modalFormSubmitted && (lf.tdescvacu.invalid || lf.tdescvacu.errors?.required)"
          class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> 
          Campo requerido</div>
        <div class="col-xs-12 col-md-12">
          <div class="form-group position-relative has-icon-left">
            <ng-select  [items]="listvacuna" 
                        (keyup)="onKeyVacuna($event)" 
                        [formControl]="myForm.controls['tdescvacu']" 
                        bindLabel="tdescvacu" 
                        formControlName="tdescvacu" 
                        placeholder="Buscar Vacuna" 
                        id="tdescvacu"
                        [addTag]="addTagFn.bind(this)">
                          <ng-template ng-option-tmp let-item="item" let-index="index">
                            {{item.idvacuna}} - {{item.tdescvacu}}
                          </ng-template>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div *ngIf="modalFormSubmitted && (lf.tfechapli.invalid || lf.tfechapli.errors?.required)"
          class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> 
          Campo requerido</div>
        <div class="col-xs-12 col-md-12">
          <div class="input-group">
            <input type="text" [formControl]="myForm.controls['tfechapli']" readonly formControlName="tfechapli" class="form-control"
              id="tfechapli" placeholder="Fecha Programada" (keydown.enter)="$event.preventDefault()" ngbDatepicker #d3="ngbDatepicker" (click)="d3.toggle()">
            <div class="input-group-append">
              <div class="input-group-text" (click)="d3.toggle()">
                <i class="fa fa-calendar" style="cursor: pointer;"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer taskboard-modal-footer">
    <button class="btn btn-secondary btn-save">
      {{ id != 0 ? 'Actualizar' : 'Solicitar'}}
    </button>
  </div>
</form>
