<div class="modal-header">
  <h4 class="modal-title"> {{ id != 0 ? 'Actualizar Aptitud de EMO' : 'Agregar Aptitud de EMO'}} </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    x
  </button>
</div>
<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="modal-body">
    <div class="container">
      <!-- <div class="row">
        <div *ngIf="modalFormSubmitted && (lf.idaptitudemo.invalid || lf.idaptitudemo.errors?.required)"
          class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Campo requerido</div>
        <div class="col-xs-12 col-md-12">
          <div class="form-group position-relative has-icon-left">
            <ng-select  [items]="listaptitud" 
                        bindLabel="tdescaptitudemo" 
                        bindValue="idaptitudemo"
                        formControlName="idaptitudemo" 
                        placeholder="Aptitud" 
                        (change)="changeApti($event)"
                        id="idaptitudemo"
                        name="idaptitudemo">
            </ng-select>
          </div>
        </div>
      </div> -->
      <div class="row" *ngIf="aptitud == 2 || aptitud == 3">
        <div *ngIf="modalFormSubmitted && (lf.tnombespe.invalid || lf.tnombespe.errors?.required)"
          class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> 
          Campo requerido</div>
        <div class="col-xs-12 col-md-12">
          <div class="form-group position-relative has-icon-left">
            <ng-select  [items]="listespecialidad" 
                        (keyup)="onKeyEspecialidad($event)" 
                        [formControl]="myForm.controls['tnombespe']" 
                        bindLabel="tnombespe" 
                        formControlName="tnombespe" 
                        placeholder="Buscar Especialidad" 
                        id="tnombespe"
                        name="tnombespe"
                        [addTag]="addTagFnEspe.bind(this)">
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                          {{item.idespecialidad}} - {{item.tnombespe}}
                        </ng-template>
                </ng-select>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="aptitud == 2 || aptitud == 3">
        <div *ngIf="modalFormSubmitted && (lf.tnombrest.invalid || lf.tnombrest.errors?.required)"
          class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Campo requerido</div>
        <div class="col-xs-12 col-md-12">
          <div class="form-group position-relative has-icon-left">
            <ng-select  [items]="listrestriccion" 
                        (keyup)="onKeyRestriccion($event)" 
                        [formControl]="myForm.controls['tnombrest']" 
                        bindLabel="tnombrest" 
                        formControlName="tnombrest" 
                        placeholder="Buscar Restricción" 
                        id="tnombrest"
                        name="tnombrest"
                        [addTag]="addTagFnRest.bind(this)">
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                          {{item.idrestriccion}} - {{item.tnombrest}}
                        </ng-template>
                </ng-select>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="aptitud == 3">
        <div class="col-xs-12 col-md-12">
          <div class="input-group">
              <input type="text" 
                     [formControl]="myForm.controls['tfechalimite']" 
                     readonly 
                     formControlName="tfechalimite" 
                     class="form-control"
                     id="tfechalimite" 
                     name="tfechalimite" 
                     placeholder="Fecha Límite" 
                     (keydown.enter)="$event.preventDefault()" 
                     ngbDatepicker #d2="ngbDatepicker" 
                     (click)="d2.toggle()">
              <div class="input-group-append">
                <div class="input-group-text" (click)="d2.toggle()">
                  <i class="fa fa-calendar" style="cursor: pointer;"></i>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="aptitud == 3">
        <div class="col-xs-12 col-md-12">
          <div class="form-group position-relative has-icon-left">
            <!-- <span class="input-group-text" id="spanCont">Controlado</span> -->
            <ng-select  [items]="control" 
                        [formControl]="myForm.controls['tstatus']" 
                        bindLabel="tstatusdesc" 
                        formControlName="tstatus" 
                        placeholder="¿Está levantado?" 
                        id="tstatus"
                        name="tstatus">
            </ng-select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer taskboard-modal-footer">
    <button class="btn btn-secondary btn-save">
      {{ id != 0 ? 'Actualizar' : 'Agregar'}}
    </button>
  </div>
</form>
