<div class="row match-height">
    <div class="col-xl-6 col-lg-6">
        <div class="card">
          <div class="card-content">
            <div class="card-header font-small-1">
                <label class="font-small-2">Reporte EMO por vencer</label>
            </div>
            <form #reportForm="ngForm" (ngSubmit)="reportEMO(reportForm)">
              <div class="card-body font-small-1" >
                <p class="grey"></p>
              </div>
              <div class="modal-footer taskboard-modal-footer">
                <button class="btn btn-outline-secondary btn-save">
                  Generar Reporte
                </button>
              </div>
            </form>
          </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="card">
          <div class="card-content">
            <div class="card-header font-small-1">
                <label class="font-small-2">Reporte aptitud</label>
            </div>
            <form #reportForm="ngForm" (ngSubmit)="reportEMOObservada(reportForm)">
              <div class="card-body font-small-1" >
                <p class="grey"></p>
              </div>
              <div class="modal-footer taskboard-modal-footer">
                <button class="btn btn-outline-secondary btn-save">
                  Generar Reporte
                </button>
              </div>
            </form>
          </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="card">
          <div class="card-content">
            <div class="card-header font-small-1">
                <label class="font-small-2">Reporte accidentes por área</label>
            </div>
            <form #reportForm="ngForm" (ngSubmit)="reportAccidentes(reportForm)">
              <div class="card-body font-small-1" >
                <p class="grey"></p>
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <div class="input-group">
                      <span class="input-group-text" id="spanttfechinicaaci">Fecha inicio</span>
                      <input type="text" 
                            [(ngModel)]="modalDataRepo?.tranaaci.tfechinic"
                            readonly 
                            class="form-control"
                            id="tfechinicaaci" 
                            name="tfechinicaaci" 
                            placeholder="Fecha inicio" 
                            (keydown.enter)="$event.preventDefault()" 
                            ngbDatepicker #d1="ngbDatepicker" 
                            (click)="d1.toggle()">
                      <div class="input-group-append">
                        <div class="input-group-text" (click)="d1.toggle()">
                          <i class="fa fa-calendar" style="cursor: pointer;"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <div class="input-group">
                      <span class="input-group-text" id="spanttfechfinaaci">Fecha fin</span>
                      <input type="text" 
                            [(ngModel)]="modalDataRepo?.tranaaci.tfechfin"
                            readonly 
                            class="form-control"
                            id="tfechfinaaci" 
                            name="tfechfinaaci" 
                            placeholder="Fecha fin" 
                            (keydown.enter)="$event.preventDefault()" 
                            ngbDatepicker #d2="ngbDatepicker" 
                            (click)="d2.toggle()">
                      <div class="input-group-append">
                        <div class="input-group-text" (click)="d2.toggle()">
                          <i class="fa fa-calendar" style="cursor: pointer;"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer taskboard-modal-footer">
                <button class="btn btn-outline-secondary btn-save">
                  Generar Reporte
                </button>
              </div>
            </form>
          </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="card">
          <div class="card-content">
            <div class="card-header font-small-1">
                <label class="font-small-2">Reporte atencion médica</label>
            </div>
            <form #reportForm="ngForm" (ngSubmit)="reportAtencionMedica(reportForm)">
              <div class="card-body font-small-1" >
                <p class="grey"></p>
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <div class="input-group">
                      <span class="input-group-text" id="fechinicatenmedi">Fecha inicio</span>
                      <input type="text" 
                            [(ngModel)]="modalDataAtenMedi?.transaccion.tfechinic"
                            readonly 
                            class="form-control"
                            id="tfechinicatenmedi" 
                            name="tfechinicatenmedi" 
                            placeholder="Fecha inicio" 
                            (keydown.enter)="$event.preventDefault()" 
                            ngbDatepicker #d3="ngbDatepicker" 
                            (click)="d3.toggle()">
                      <div class="input-group-append">
                        <div class="input-group-text" (click)="d3.toggle()">
                          <i class="fa fa-calendar" style="cursor: pointer;"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <div class="input-group">
                      <span class="input-group-text" id="fechdinaatenmedi">Fecha fin</span>
                      <input type="text" 
                            [(ngModel)]="modalDataAtenMedi?.transaccion.tfechfin"
                            readonly 
                            class="form-control"
                            id="tfechdinaatenmedi" 
                            name="tfechdinaatenmedi" 
                            placeholder="Fecha fin" 
                            (keydown.enter)="$event.preventDefault()" 
                            ngbDatepicker #d4="ngbDatepicker" 
                            (click)="d4.toggle()">
                      <div class="input-group-append">
                        <div class="input-group-text" (click)="d4.toggle()">
                          <i class="fa fa-calendar" style="cursor: pointer;"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer taskboard-modal-footer">
                <button class="btn btn-outline-secondary btn-save">
                  Generar Reporte
                </button>
              </div>
            </form>
          </div>
        </div>
    </div>
</div> 